<?xml version="1.0" encoding="UTF-8"?>
<!--
  Apeireth Windows MSI Installer Definition (APEIRETH 2.0 RC)
  Platform: Windows x86_64 (msiexec /i apeireth-2.0.0-rc.1-windows-x86_64.msi)
  Tool: WiX Toolset 3.x / 4.x / cargo-wix
  Target Path: %ProgramFiles%\Apeireth\

  Lifecycle:
    - Install: msiexec /i apeireth-2.0.0-rc.1-windows-x86_64.msi /qn
    - Upgrade: msiexec /i apeireth-2.0.0.msi /qn (MajorUpgrade automated)
    - Repair:  msiexec /f apeireth-2.0.0-rc.1-windows-x86_64.msi
    - Uninstall: msiexec /x {ProductCode} or via Add/Remove Programs
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*"
           Name="Apeireth OS"
           Version="2.0.0.0"
           Manufacturer="Apeireth Team"
           Language="1033"
           UpgradeCode="{9D7E2B45-7E3A-4F8A-B31F-79A5E2E39401}">

    <Package InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine"
             Description="Apeireth OS 2.0 - AGI Operating System &amp; AI Growth Platform"
             Comments="Apache-2.0 license, see https://github.com/apeireth/apeireth-rust"
             Manufacturer="Apeireth Team" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                  AllowSameVersionUpgrades="yes" />

    <MediaTemplate EmbedCab="yes" />

    <!-- Application Icon -->
    <Icon Id="ApeirethIcon.ico" SourceFile="packaging\msi\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="ApeirethIcon.ico" />
    <Property Id="ARPHELPLINK" Value="https://github.com/apeireth/apeireth-rust" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/apeireth/apeireth-rust" />

    <!-- Feature Definition -->
    <Feature Id="ProductFeature" Title="Apeireth OS" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcuts" />
      <ComponentRef Id="EnvironmentComponent" />
      <ComponentRef Id="ServiceComponent" />
    </Feature>

    <!-- Directory Structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="Apeireth">
          <Directory Id="BIN" Name="bin" />
          <Directory Id="CONFIG" Name="config" />
          <Directory Id="SHARE" Name="share" />
          <Directory Id="LOG" Name="log" />
          <Directory Id="DATA" Name="data" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Apeireth" />
      </Directory>
    </Directory>

    <!-- Product Components -->
    <ComponentGroup Id="ProductComponents">
      <!-- Main Executable in bin/ -->
      <Component Id="MainExecutable" Guid="{3C1F5C02-A8E2-4EA4-9345-09A0D7D06E21}" Directory="BIN">
        <File Id="ApeirethExe"
              Source="target\release\apeireth.exe"
              KeyPath="yes" />
      </Component>

      <!-- Documentation & Legal in share/ -->
      <Component Id="LicenseFile" Guid="{57E0E32A-4B6A-4A73-A337-BE7692FE01C3}" Directory="SHARE">
        <File Id="LicenseFile" Source="LICENSE" KeyPath="yes" />
      </Component>
      <Component Id="NoticeFile" Guid="{8F52BC34-9A26-44F1-8B0C-17482D2C67E4}" Directory="SHARE">
        <File Id="NoticeFile" Source="NOTICE" KeyPath="yes" />
      </Component>
      <Component Id="ReadmeFile" Guid="{D5523EE6-4B17-4F66-BF03-34D5C58C28A1}" Directory="SHARE">
        <File Id="ReadmeFile" Source="README.md" KeyPath="yes" />
      </Component>

      <!-- Clean Directory Removal on Uninstall -->
      <Component Id="CleanupDirs" Guid="{E4A7D92C-38B1-4A57-8C49-61DE2E6C9F20}" Directory="INSTALLDIR">
        <CreateFolder />
        <RemoveFolder Id="RemoveBIN" Directory="BIN" On="uninstall" />
        <RemoveFolder Id="RemoveCONFIG" Directory="CONFIG" On="uninstall" />
        <RemoveFolder Id="RemoveSHARE" Directory="SHARE" On="uninstall" />
        <RemoveFolder Id="RemoveLOG" Directory="LOG" On="uninstall" />
        <RemoveFolder Id="RemoveDATA" Directory="DATA" On="uninstall" />
        <RemoveFolder Id="RemoveINSTALLDIR" Directory="INSTALLDIR" On="uninstall" />
        <RegistryValue Root="HKLM" Key="Software\Apeireth\ApeirethOS" Name="InstallDir" Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <!-- Start Menu Shortcuts -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcuts" Guid="{97D5FA54-159E-4DC5-8B2B-35C2B4C30A09}">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Apeireth OS CLI"
                  Description="Launch Apeireth CLI environment"
                  Target="[BIN]apeireth.exe"
                  WorkingDirectory="INSTALLDIR"
                  Icon="ApeirethIcon.ico" />
        <Shortcut Id="UninstallProduct"
                  Name="Uninstall Apeireth OS"
                  Description="Uninstalls Apeireth OS"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]" />
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Apeireth\ApeirethOS" Name="ShortcutsInstalled" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Environment Variables (System-wide) -->
    <Component Id="EnvironmentComponent" Guid="{12B16B4D-7E81-4FE8-9E6F-A0CCBD23B7C6}" Directory="INSTALLDIR">
      <Environment Id="APEIRETH_HOME" Name="APEIRETH_HOME" Value="[INSTALLDIR]data" Action="set" System="yes" Part="all" />
      <Environment Id="APEIRETH_CONFIG" Name="APEIRETH_CONFIG" Value="[INSTALLDIR]config\config.toml" Action="set" System="yes" Part="all" />
      <Environment Id="PATH" Name="PATH" Value="[BIN]" Action="set" System="yes" Part="last" />
      <RegistryValue Root="HKLM" Key="Software\Apeireth\ApeirethOS" Name="EnvConfigured" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <!-- Windows Service Component -->
    <Component Id="ServiceComponent" Guid="{8E866D57-B2A8-433E-A43D-4A2D87FF37A0}" Directory="BIN">
      <File Id="ServiceExe" Source="target\release\apeireth.exe" KeyPath="yes" />
      <ServiceInstall Id="ApeirethServiceInstaller"
                      Type="ownProcess"
                      Vital="yes"
                      Name="ApeirethOS"
                      DisplayName="Apeireth OS Service"
                      Description="Apeireth AGI Operating System Core API and Agent Service"
                      Start="auto"
                      Account="LocalSystem"
                      ErrorControl="normal"
                      Arguments="serve" />
      <ServiceControl Id="ApeirethServiceControl"
                      Name="ApeirethOS"
                      Start="install"
                      Stop="both"
                      Remove="uninstall"
                      Wait="yes" />
    </Component>

    <!-- Standard Minimal UI -->
    <UI>
      <UIRef Id="WixUI_Minimal" />
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

  </Product>
</Wix>
